<template name="about">
<div class="about">
  <h1>How this works?</h1>
  <p>We are crowdsourcing interest from Singapore-based (incorporated) startups who wants to access overseas markets by attending, pitching or exhibiting at events and conferences overseas.</p>

  <p>The Market Access Incubation Programme (MAIP) is part of IE’s Market Readiness Assistance (MRA), and complements the efforts of incubators seeking to help their portfolio start-ups access overseas markets and networks. This will be done by providing support for start-ups participating in overseas business missions and fairs organised by government-approved incubators.</p>

  <p>Events supported under MAIP should be start-up centric, and should include some or all of the following activities:

<ul>
  <li>Business matching with potential investors, partners or customers</li>
  <li>Showcasing of products or prototype to potential investors, partners or customers</li>
</ul>
</p>

<h2>What is the assistance?</h2>

<p>MAIP supports up to 70% of eligible third party expenses incurred by start-ups depending on region. These include the following:

<ul>
  <li>Rental of exhibition space</li>
  <li>Stand construction costs</li>
  <li>Publicity Costs</li>
  <li>Consultant’s Fees</li>
  <li>Pitching fees</li>
  <li>Logistics Costs</li>
  <li>Networking Fees</li>
  <li>Airfare and Accommodation.</li>
</ul>

<h3>Conditions</h3>
<ol>
  <li>Support is capped at $10,000 per start-up per trip</li>
  <li>Airfare and Accommodation is supported at up to 50% </li>
</ol>
</p>

<p>For more information and criteria of the subsidy, go to <a href="http://www.iesingapore.gov.sg/Assistance/Market-Readiness-Assistance/Financial-Assistance/MAIP">iesingapore.gov.sg/Assistance/Market-Readiness-Assistance/Financial-Assistance/MAIP</a></p>

</div>
</template>
