<template name="event">

  <div class="page-header">
  <h1>{{name}} <small><a id="top" class="button" href="{{link}}">Check Event Website</a></small></h1>
</div>

  <div class="progress" style="height:1.75em;line-height:1.5em;font-size: 1.2em;">
    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{percent min registered}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percent min registered}}%; line-height:1.5em;font-size: 1.2em;">
    {{moreNeeded min registered}}<span class="sr-only">{{percent min registered}}% Complete</span>
    </div>
    {{moreRequired min registered}}
  </div>

  <p>
    <h3>Event Description</h3>
    {{description}}

    <h3>Country</h3>
    {{country}}

    <h3>Date</h3>
    {{prettifyDate date}}

  </p>
<hr />

<h1>Startups Registered</h1>
{{#each registeredStartups}}
<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" src="/icon-tick.png" alt="...">
  </a>
  <div class="media-body">
    <h4 class="media-heading">{{companyName}}</h4>
    {{contactName}}
  </div>
</div>
{{/each}}

{{>register}}
</template>
