<template name="register">

    <div class="row clearfix">
      <div class="col-md-6 column">
<hr>
          {{#if currentUser}}
          <button type="submit" class="btn btn-default" id="registerCompany">Register {{company}} for {{name}}</button>
          <button type="submit" class="btn btn-warning" id="cancelRegistration">Cancel Registration</button>
          {{/if}}
          {{#unless currentUser}}
          <button type="submit" class="btn btn-error" id="registerNotLoggedIn">Register for {{name}}</button>
          {{/unless}}

      </div>
    </div>
</template>


<template name="registerFullPage">
  <a href="/event/{{_id}}">&lt;{{name}} Event Page</a>
  {{>registeredStartups}}
  {{>register}}
</template>
