<template name="suggestEventForm">
  {{#autoForm schema=suggestFormSchema id="suggestEventForm" type="method" meteormethod="suggestEvent" resetOnSuccess="true"}}
  <fieldset>
    <legend>Suggest an Event to be added to StartupSwarm.com</legend>
    {{> afQuickField name="name"}}
    {{> afQuickField name="email"}}
    {{> afQuickField name="message" rows=10}}
    <div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <button type="reset" class="btn btn-default">Reset</button>
    </div>
  </fieldset>
  {{/autoForm}}
</template>
