<template name="eventsList">

  <div class="row">
  {{#each event}}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <a href="/event/{{_id}}#top">
      <img src="{{imageUrl}}" alt="..." height="200px" width="300px"></a>
      <div class="caption">
        <a href="/event/{{_id}}"><h3>{{name}}</h3></a>

        <p>{{dotdotdot description 120}}</p>
        <div class="progress">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: {{percent this}}%">
            <span class="sr-only">{{percent this}}% Complete</span>
          </div>
        </div>

        <p>
        <a href="/event/{{_id}}" class="btn btn-primary" role="button">Register</a>
        <a href="/event/{{_id}}" class="btn btn-default" role="button">More Info</a>
        {{#if currentUserIsAdmin}}
        <a href="/event/{{_id}}/edit" class="btn btn-default" role="button">Edit Event</a>
        {{/if}}
        </p>
      </div>
    </div>
  </div>
  {{/each}}
</div>
</template>
