<template name="footer">
<div class="footer">
  <p>Questions/Feedback? <a href="mailto:yourfriends@introducestartups.com">Email us</a> or tweet <a href="http://www.twitter.com/introstartups">@introstartups</a>. <br/>
     Made with love in Singapore by <a href="http://www.twitter.com/mze3e">@mze3e</a> in association with <a href="http://www.twitter.com/introstartups">@introstartups</a> and <a href="http://www.twitter.com/founding">@founding</a> Singapore.<br/><br/>
     &copy; 2014 StartupSwarm All Rights Reserved.</p>
</div>
</template>
