<template name="jumbotron">

  <div id="top" class="jumbotron">
    <div class="container">
      <h1>Experience startups events overseas together</h1>
      <h2>In collaboration with IE Singapore and our partners, we are crowdsourcing genuine interest from startups in Singapore who wants to access overseas markets and networks by attending events and conference overseas. Collectively apply for the subsidies available for startups through The Market Access Incubation Programme.</h2>
      <p><a class="btn btn-warning btn-lg" href="/sign-up">Sign Up Today <span class="glyphicon glyphicon-circle-arrow-right"></span></a> <a class="btn btn-large btn-success" href="{{pathFor 'suggestForm'}}">Suggest an Event</a></p>
    </div> <!-- /.container -->
  </div> <!-- /.jumbotron -->

</template>
