<template name="jumbotron">
<div class="jumbotron">
  <h1>Experience startups events overseas together</h1>
  <p class="lead">In collaboration with IE Singapore and our partners, we are crowdsourcing genuine interest from startups in Singapore who wants to access overseas markets and networks by attending events and conference overseas. Collectively apply for the subsidies available for startups through The Market Access Incubation Programme.</p>
  <a class="btn btn-large btn-success" href="/sign-up">Sign up today</a> <a class="btn btn-large btn-success" href="mailto:yourfriends@introducestartups.com">Suggest an Event</a>
</div>
</template>
