<template name="masthead">

<div class="masthead">
  <ul class="nav nav-pills pull-right">
    <li><a href="/">Home</a></li>
    <li><a href="{{pathFor 'about'}}">How this works?</a></li>
    <li><a href="{{pathFor 'suggestForm'}}">Suggest an Event</a></li>
    {{#unless currentUser}}
    <li><a href="{{pathFor 'entrySignUp'}}">Sign Up</a></li>
    <li><a href="{{pathFor 'entrySignIn'}}">Sign In</a></li>
    {{/unless}}
    {{#if currentUser}}
    <li><a href="{{pathFor 'profile'}}"> My Profile</a></li>
    <li><a href="{{pathFor 'entrySignOut'}}">Sign Out</a></li>
    {{/if}}
    <li><a href="{{pathFor 'contactForm'}}">Contact</a></li>
    {{#if currentUserIsAdmin}}
          <li><a href="/admin">Admin</a></li>
      <li><a href="{{pathFor 'addEvent'}}">Add Event</a></li>
    {{/if}}

  </ul>

  <h3 class="muted"><a href="/">StartupSwarm</a></h3>
</div>

  <hr>

</template>
